*{
    margin:0;
    padding:0;
    font-family: "Merriweather", serif;
}
nav {
    background-color: rgba(200, 230, 255, 1);
    height: 110px;
    border-radius: 8px;
    display: flex;
    align-items: center;          
    justify-content: space-between; 
    padding: 0 20px;
    position: sticky;
    top: 0;
    flex-wrap: nowrap;           
}

.logo {
    width: auto;                 
    width: auto;      
    display: block; 
}

.nav-items {
    display: flex;
    gap: 15px;                   
    justify-content: flex-end;
}

.nav-item {
    text-decoration: none;
    color: white;
    background-color: midnightblue;
    font-family: "Merriweather", serif;
    font-size: 24px;
    padding: 15px 12px;
    border: 2px solid dodgerblue;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s ease-in;
    min-width: 120px;
}

.nav-item:hover {
    background-color: dodgerblue;
}


@media screen and (max-width: 1024px) {
    nav {
        flex-direction: column;  
        height: auto;
        padding: 10px;
    }

    .logo {
        margin-bottom: 10px;
        text-align: center;
    }

    .nav-items {
        width: 100%;
        justify-content: center;
        gap: 10px;               
    }

    .nav-item {
        font-size: 18px;
        padding: 10px;
        min-width: auto;
    }
}
.welcome{
    background-image: 
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("https://www.canadashistory.ca/getmedia/b770e585-f95b-48a2-bfe1-a222bebf786f/ExpMilOverTheTopCanadiansCharging768x511.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:500px;
    color: white;
    text-shadow: 0 0 6px rgba(0,0,0,0.7);
}
footer{
    height:180px;
    background-color: steelblue;
    color:white;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:15px;
}

